.modal__ConfirmDialog {
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 200;
}

.modal__ConfirmDialog-box {
  width: 33%;
  height: auto;
  background-color: #fff;
  padding: 20px 15px;
  border: 10px;
  border-radius: 10px;
}

.modal__ConfirmDialog-header {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

.btn__close {
  margin-top: -20px;
  font-size: 1.4rem;
  font-weight: 600;
  cursor: pointer;
}

.btn__confirm-yes {
  padding: 5px 10px;
  margin: 10px;
  width: 25%;
  border-radius: 10px;
  cursor: pointer;
  border: 1 solid rgba(0, 0, 0);
  float: right;
  background-color: white;
  font-size: 1.1rem;
  font-weight: bold;
}

.btn__confirm-no {
  padding: 5px 10px;
  margin: 10px;
  width: 25%;
  border-radius: 10px;
  cursor: pointer;
  border: 1 solid rgba(0, 0, 0);
  float: right;
  background-color: black;
  color: white;
  font-size: 1.1rem;
  font-weight: bold;
}

.btn__confirm-yes:hover {
  background-color: black;
  color: white;
}

.btn__confirm-no:hover {
  background-color: white;
  color: black;
}
