.btn__share {
  padding: 5px;
  width: 80px;
  height: 30px;
  margin: 0px 5px;
  background-color: #fff;
  border: #333 2px solid;
  border-radius: 10px;
  font-weight: bold;
  font-size: 1rem;
}

.btn__share:hover {
  background-color: gray;
  color: #fff;
}

.TodosBoard__container {
  min-height: 800px;
}

.TodosBoard__container-hr {
  width: 90%;
  margin: 20px auto;
}
